<article class="post">
<header>
	<h2 class="post-title"><a href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a></h2>
</header>
<div class="post-list__meta">
<div class="excerpt">
    <p>
    >> {{ .Date.Format "Jan 2, 2006" }} • Read in {{ .ReadingTime }} Min
    </p>
    <p>
    {{ if .Params.excerpt }}
        {{ .Params.excerpt }}
    {{ else }}
        {{ .Summary }}
    {{ end }}
    </p>
</div>
{{ if .Params.tags }}
    • tags:
    {{ range $index, $element := .Params.tags }}
        <a class="tag" href="/tags/{{ $element | urlize }}">{{ $element }}</a>
    {{ end }}
{{ end }}
</div>
<hr class="post-list__divider" />
</article>
