<article class="post">
<header>
<h2 class="post-list__post-title">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</h2>
</header>
<div class="post-list__meta">{{ .Date.Format "Jan 2, 2006" }} • Read in {{ .ReadingTime }} Min
<div class="excerpt">
    {{ if .Params.excerpt }}
        {{ .Params.excerpt }}
    {{ else }}
        {{ .Summary }}
    {{ end }}
</div>
{{ if .Params.tags }}
    • tags:
    {{ range $index, $element := .Params.tags }}
        <a class="tag" href="/tags/{{ $element | urlize }}">{{ $element }}</a>
    {{ end }}
{{ end }}
</div>
<hr class="post-list__divider" />
</article>