<article class="post">
<header>
<h2 class="post-list__post-title"><a class="hvr-bounce-to-right" href="{{ .Permalink }}">{{ .Title }} {{ if .Draft }}:: DRAFT{{end}}</a> </h2>
</header>
<div class="excerpt">
    {{ if .Params.excerpt }}
        {{ .Params.excerpt }}
    {{ else }}
        {{ .Summary }}
    {{ end }}
</div>
<div class="post-list__meta">{{ .Date.Format "Jan 2, 2006" }} • Read in {{ .ReadingTime }} Min
{{ if .Params.tags }}
    • on tags:
    {{ range $index, $element := .Params.tags }}
        {{ if eq (add $index 1) (len $.Params.tags) }}
            <a class="post-list__meta--tags" href="/tags/{{ $element | urlize }}">{{ $element }}</a>
        {{ else }}
            <a class="post-list__meta--tags" href="/tags/{{ $element | urlize }}">{{ $element }},</a>
        {{ end }}
    {{ end }}
{{ end }}
</div>
<hr class="post-list__divider" />
</article>