/* DEFINE COLORS UP HERE FOR TO SIMPLIFY CHANGES */

$blog-header-bg-color: #000000; // black
$blog-header-fg-color: #ffffff; // white
$blog-container-bg-color: #f3f3f3; // light grey
$blog-container-fg-color: #000000; // black
$blog-separator-color: #eee;
$blog-heading-color: #111;


html {
  margin: 0 20px;
  font-family: "Gill Sans";
}

.container {
  padding: 1px 20px;
  background: $blog-container-bg-color;
  color: $blog-container-fg-color;
}

h1 { font-size: 2.2em; margin-bottom: 0; }
h2 { font-size: 1.7em; margin-bottom: 5px; }
h3 { font-size: 1.37em; }
h4 { font-size: 1.22em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }

p {
  font-size: 1.2em;
}

:is(h1, h2, h3, h4, h5, h6) a {
  color: $blog-heading-color;
  text-decoration: none;
}

h1 {
  color: $blog-header-fg-color;
  background: $blog-header-bg-color;
  text-align: center;
}

.post__meta {
  p {
    margin-top: 0;
    font-size: 0.9em;
    span {
      text-decoration: underline;
    }
  }
}

.post__desc {
  text-align: justify;
}

hr {
  color: $blog-separator-color;
}

.article {
  .post__meta {
    margin-top: 10px;
  }
}


/*
@media (prefers-color-scheme: dark) {
  $blog-header-bg-color: #cecece; // white
  $blog-header-fg-color: #121212; // black
  $blog-container-bg-color: #121212; // very dark grey
  $blog-container-fg-color: #cecece; // white
  $blog-separator-color: #111;
  $blog-heading-color: #cecece;

  html {
    background-color: $blog-container-bg-color;
  }

  hr {
    color: $blog-separator-color;
  }  

  h1 {
    color: $blog-header-fg-color;
    background: $blog-header-bg-color;
  }

  .container {
    background: $blog-container-bg-color;
    color: $blog-container-fg-color;
  }

  :is(h1, h2, h3, h4, h5, h6) a {
    color: $blog-heading-color;
  }
}
*/
