<html>
<link rel="stylesheet" href="/css/zero.css">
{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<body>
    <header class="main-header">
        <h1>{{.Site.Title}}</h1>
    </header>
    <div class="container">
        <section id="list">
            {{ range .Data.Pages }}
            <div>
                {{ .Render "summary"}}
            </div>
            {{ end }}
        </section>
    </div>
</body>
</html>
