<html>
<link rel="stylesheet" href="/css/normalize.css">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/zero.css">
{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<body>
<div class="row">
    <div id="main-container" class="container appear">
        <section id="main">
            {{ range .Data.Pages }}

            <div>
                {{ .Render "summary"}}
            </div>
            {{ end }}

        </section>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script>
    WebFont.load({
        google: {
            families: ['Raleway', 'Source Code Pro']
        }
    });
</script>
</body>
</html>
