<html>
<link rel="stylesheet" href="/css/zero.css">
{{ with .OutputFormats.Get "rss" -}}
    {{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
{{ end -}}

<body class="article">
    <header class="main-header">
        <h1 class="post-title"> >>{{ .Title }}</h1>
    </header>
    <div id="main-container" class="container">

            <div class="post"> 
                {{ .Content }}
            </div>
                        <div class="post__meta">
                <p>§ Posted: <span>{{ .Date.Format "January 2, 2006" }}</span> § Read Time: <span>{{ .ReadingTime }} Min</span></p>
            </div>
    </div>
</body>
</html>
